
.box-transation{
  background-color: #F8F8F8;
  .box-content{
    color: #7D7D7D;
    span{
      font-size: 12px;
    }
    h6{
      font-size: 14px;
    }
  }

  .box-amount{
    color: #222;
    h6{
      font-size: 20px;
      font-weight: 700;
      sub{
        color: #7D7D7D;
        font-size: 12px;
      }
    }
  }
}
