<ion-header [translucent]="true">
  <ion-toolbar fill="clear">
    <div class="main-bg py-2 d-flex justify-content-center align-items-center text-center">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="ps-0">Parking</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="parking bg-white h-100 d-flex justify-content-center align-items-center">
    <img src="assets/parking/parking-img.png" alt="parking">
  </div>
</ion-content>
