/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


.main-color{
  color: #FF8118 !important;
}
.main-bg{
  background-color: #FF8118 !important;
}
.cr{
  cursor: pointer;
}

/* تخصيص تصميم ngx-otp-input */
ngx-otp-input {
  .ngx-otp-input-form {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .ngx-otp-input-box {
    background-color: #ffffff !important;
    border: 2px solid #aaa !important;
    border-radius: 8px !important;
    width: 45px !important;
    height: 60px !important;
    font-size: 20px !important;
    color: #000 !important;
    text-align: center !important;
    outline: none !important;
    transition: all 0.2s ease-in-out;
  }

  .ngx-otp-input-filled {
    border-color: #ffb778 !important;
  }

  .ngx-otp-input-success {
    border-color: #28a745 !important;
    background-color: #e9f9ee !important;
  }

  .ngx-otp-input-failed {
    border-color: #dc3545 !important;
    background-color: #fdeaea !important;
  }

  .ngx-blinking-cursor {
    color: #ff8118 !important;
  }

  .ngx-otp-input-disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}
